body {
  margin: 0;
  font-family:  Arial, sans-serif;
  background: #fcf6d9;
  color: #222;
}

.header {
    background: #fff;
    height: 60px;
    border-bottom: 2px solid #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #2fa86f;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 14px;
}

.divider {
    width: 1px;
    height: 22px;
    background: #222;
}

.username {
    font-weight: bold;
}


/* Layout */
.sb-main {
  display: flex;
  min-height: calc(100vh - 120px);
}

/* Sidebar */
.sidebar {
    background: transparent; 
    border-right: 2px solid #222;
    padding: 20px;
    width: 220px; 
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.sidebar-select {
    background-color: #f8d44d; 
    border: 2px solid #222;
    padding: 8px;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    appearance: none; 
    background-image: url("images/down-arrow.png");  
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px;
    padding-right: 30px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    text-decoration: none;
    border: 2px solid #222; 
    background: #fff;
    font-size: 14px;
    color: #222;
    cursor: pointer;
    border-radius: 0px; 
    transition: all 0.1s;
}

.nav-btn.active {
    background: #9bd3f3; 
}

.nav-btn .icon {  
    width: 20px;
    height: 20px;
}

/* Content */
.sb-content {
  flex: 1;
  padding: 40px 60px;
}

.sb-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
    width: 260px;
    padding: 8px 12px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

.sch-info {
    margin: 6px 0;
    font-size: 14px;
}

/* Applications Grid */
.sb-applications-grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.sb-application-card {
  background: #fff;
  border: 2px solid #222;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 0 #222;
  cursor: pointer;
}

.sb-application-card:hover {
  transform: translateY(-2px);
}

/* Footer */
.footer-bar {
    height: 40px;
    background: #fff;
    border-top: 2px solid #222;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 0 40px;
}

.footer-bar a {
    text-decoration: none;
    color: #444;
    font-size: 13px;
}

.footer-bar span {
    color: #aaa;
}
